= simple_form_for @study_request, :url => url, :html => {:class => "form-horizontal"} do |f|
  = f.association :union, as: :grouped_select, collection: unions_divided_by_categories, group_method: :last
  .row
    .span4
      = f.input :children_full_name
      = f.input :birth_date, as: :string
      = f.input :school
      = f.input :address
      = f.input :phone
    .span8
      = f.input :parent_full_name
      = f.input :email

    .span9
      = f.input :note, :as => :description
      .form-actions
        = f.button :submit, :class => 'btn btn-primary'
