= simple_form_for @news, :url => url, :html => { :class => 'default_class' } do |f|
  = f.input :state_event, as: :state_event
  = f.input :title
  = f.input :published_at, as: :datepicker
  = f.input :body, as: :ckeditor

  %h4= t('.photos')
  = f.simple_fields_for :photos do |p|
    = render "photo_fields", f: p
  .links
    = link_to_add_association f, :photos, class: 'btn btn-success' do
      %i.icon-plus
      = t('.add')
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_news_index_path, :class => 'btn'
