%h3= @news
- if @news.published_at?
  .help-block= l @news.published_at, :format => :long
.span5
  -if @news.photos.first!= nil
    = link_to image_tag(@news.photos.first.asset_url), @news.photos.first.asset_url , data: {colorbox: true}
.span6
  != @news.body
- @news.photos.each_with_index do |p,i|
  - if i != 0
    .span5
      = link_to image_tag(p.asset_url), p.asset_url , data: {colorbox: true}
%hr
%div{:id => "disqus_thread"}
