%h3= t('.news')
.row
  .span8
    - @news.each do |n|
      .well
        %a{ href: news_path(n) }
          %h4= n.title
        - if n.published_at?
          .help-block= l n.published_at, format: :short
        != truncate_sanitize_rem_br n.body, 250
  .span4
    .well
      %h4= t('.do_you_want')
      = link_to t('.study_request'), new_study_request_path, :class => 'btn btn-success btn-block'

    .well
      %h4= t(".calendar")
      = render 'layouts/web/shared/calendar'

    %div{id: :vk_groups}

.news_link= link_to "Все новости", news_index_path
- if @photo_album.try :can_view?
  .row
    .span12
      %hr
    .span6.offset3
      %h4= @photo_album.name
      %p= @photo_album.description
      #carousel.carousel.slide
        .carousel-inner
          - @photo_album.sorted_photos.each_with_index do |photo, i|
            .item{:class => i == 0 ? "active" : ''}
              = image_tag photo.image_url(:carousel)
              - if photo.information?
                .carousel-caption
                  %h4= photo.name
                  %p= photo.description
        %a.carousel-control.left{"data-slide" => "prev", :href => "#carousel"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#carousel"} ›
      %p= link_to "Все фотоальбомы", photo_albums_path
