.gallery
  .fotorama{ data: {nav: "thumbs", width: "100%", width: "698px"} }
    - photos.each do |photo|
      = image_tag photo.image.url, data: {caption: photo.description}

.row
  .span6
    %h2.tape-caption= t('.news_list')

  .span3
    .all_news_link
      = link_to t('.all_news'), news_index_path

.news
  - @news.each do |n|
    %a.news-item{ href: news_path(n) }
      .news-item-pic
        = image_tag n.photos.first.asset.url if n.photos.any?
      .news-item-descr
        %h3= n.title
        - if n.published_at?
          .news-item-date= l n.published_at, format: :short
        = truncate_sanitize_rem_br n.body, 350

%hr

%h2.tape-caption.long-caption= t('.partners')
= render 'layouts/web/shared/partners', partners: partners
