.gallery

  .fotorama{ data: {nav: "thumbs", width: "100%", width: "698px"} }
    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1200/carousel_Akademiya_may2013_600x400_11.jpg", data: {caption: "<h6>Сергей Морозов</h6><p>Test</p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1199/carousel_prazdnik-prazdnik.jpg", data: {caption: "<h6>Летнее научное шоу «Академия чудес»</h6><p>С 1 июня 2013 года начинает свою работу передвижная лаборатория — летнее научное шоу «Академия чудес». Проект реализуется областным Дворцом творчества детей и молодёжи. </p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1200/carousel_Akademiya_may2013_600x400_11.jpg", data: {caption: "<h6>Сергей Морозов</h6><p>Test</p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1199/carousel_prazdnik-prazdnik.jpg", data: {caption: "<h6>Летнее научное шоу «Академия чудес»</h6><p>С 1 июня 2013 года начинает свою работу передвижная лаборатория — летнее научное шоу «Академия чудес». Проект реализуется областным Дворцом творчества детей и молодёжи. </p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1200/carousel_Akademiya_may2013_600x400_11.jpg", data: {caption: "<h6>Сергей Морозов</h6><p>Test</p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1199/carousel_prazdnik-prazdnik.jpg", data: {caption: "<h6>Летнее научное шоу «Академия чудес»</h6><p>С 1 июня 2013 года начинает свою работу передвижная лаборатория — летнее научное шоу «Академия чудес». Проект реализуется областным Дворцом творчества детей и молодёжи. </p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1200/carousel_Akademiya_may2013_600x400_11.jpg", data: {caption: "<h6>Сергей Морозов</h6><p>Test</p>"})

    = image_tag("http://dvorec73.ru/system/uploads/photo_album/photo/image/1199/carousel_prazdnik-prazdnik.jpg", data: {caption: "<h6>Летнее научное шоу «Академия чудес»</h6><p>С 1 июня 2013 года начинает свою работу передвижная лаборатория — летнее научное шоу «Академия чудес». Проект реализуется областным Дворцом творчества детей и молодёжи. </p>"})

.row
  .span6
    %h2.tape-caption Лента новостей

  .span3
    .all_news_link
      = link_to t('.all_news'), news_index_path

.news
  - @news.each do |n|
    %a.news-item{ href: news_path(n) }
      .news-item-pic
        = image_tag n.photos.first.asset.url if n.photos.any?
      .news-item-descr
        %h3= n.title
        - if n.published_at?
          .news-item-date= l n.published_at, format: :short
        = truncate_sanitize_rem_br n.body, 350

%hr

%h2.tape-caption.long-caption Партнеры
= render 'layouts/web/shared/partners', partners: partners

-# %h3= t('.news')
-# .row
-#
  - if @photo_album.try :can_view?
    %h4= @photo_album.name
    %p= @photo_album.description
    #carousel.carousel.slide
      .carousel-inner
        - @photo_album.sorted_photos.each_with_index do |photo, i|
          .item{:class => i == 0 ? "active" : ''}
            = image_tag photo.image_url(:carousel)
            - if photo.information?
              .carousel-caption
                %h4= photo.name
                %p= photo.description
      %a.carousel-control.left{"data-slide" => "prev", :href => "#carousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#carousel"} ›
    %p= link_to "Все фотоальбомы", photo_albums_path
    .span4



    = render partial: 'web/shared/block', collection: @blocks

:javascript
  var galleries = $('.ad-gallery').adGallery();
  $(function() {
    window.router = new Castle.Routers.CalendarsRouter();
    Backbone.history.start();
  });
