.sidebar
  = render 'layouts/web/shared/search_form'
  %h3= t('.week_event')
  .side-b.week-event
    - if main_event
      = link_to event_path(main_event) do
        = image_tag main_event.image.url if main_event.image?
        = main_event.name
    .all_events
      = link_to t('.all_events'), events_path
    .connector.left
    .connector.right
  .side-b.calendars
    #calendars
  = link_to new_study_request_path, class: "action-btn red-btn" do
    = t('.new_request')
  %a.action-btn.brown-btn{ href: "#" }
    = t('.ask_question')

  .social
    - blocks.each do |block|
      = block.body.html_safe
