.sidebar
  = render 'layouts/web/shared/search_form'
  %h3= t('.week_event')
  .side-b.week-event
    - if @main_event
      = link_to event_path(@main_event) do
        = image_tag @main_event.image.url if @main_event.image?
        = @main_event.name
    .connector.left
    .connector.right
  .side-b.calendars
    #calendars
  -#TODO: Сразу ссылку со стилем кнопки
  = link_to new_study_request_path, class: "action-btn red-btn" do
    = t('.new_request')
  %a.action-btn.brown-btn{ href: "#" }
    = t('.ask_question')

  .announcement
    %h5 Анонс школы вожатых
    %hr
    .descr
      Небольшое рекламный текст о прекрасной школе вожатых, обязательно
      %a{ href: "#" } со ссылкой на подробное описание
      для заинтересовавшихся
