.nested-fields.well
  = link_to_remove_association f, class: 'close' do
    %i.icon-trash
  = f.input :week, collection: t("date.standalone_day_names")
  = f.association :classroom, collection: Group::Schedule::Classroom.asc_by_name
  = f.input :start_at, as: :time_picker
  = f.input :finish_at, as: :time_picker
