= link_to t('.new'), new_admin_group_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :name
      -#%th= sort_link @q, :description
      %th= sort_link @q, :union_id
      %th
  %tbody
    - @groups.each do |item|
      %tr
        %td= item.id
        %td= item.name
        -#%td= item.description
        %td= item.union
        %td
          .pull-right.btn-group
            = link_to edit_admin_group_path(item), :class => 'btn btn-mini' do
              %i.icon-pencil
            = link_to admin_group_path(item), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger' do
              %i.icon-trash

= paginate @groups
