= simple_form_for @category, :url => url, :html => { :class => 'default_class' } do |f|
  = f.input :name
  = f.input :description, as: :ckeditor, :input_html => { :class => "ckeditor", :height => 400 }
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_categories_path, :class => 'btn'
