!!! 5
%html(lang="ru")
  = render 'layouts/web/shared/head'
  %body{"data-spy" => "scroll", "data-target" => ".spy"}
    = render 'layouts/web/shared/navbar'
    .container
      .content
        = render_breadcrumbs
        = bootstrap_flash
        = yield
        -#.span3
          .well.sidebar-nav
            %h3 Sidebar
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"
      %hr
      = render 'layouts/web/shared/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
