!!!
%html(lang="ru")
  = render 'layouts/web/shared/head'
  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar" }

    .container
      = render 'layouts/web/shared/navbar'
      .content
        .row
          .span9
            = bootstrap_flash
            = yield
          .span3
            = render 'layouts/web/shared/sidebar'

    = render 'layouts/web/shared/footer'
    = render 'layouts/web/shared/yandex_metrika'

