.row
  .span3.bs-docs-sidebar{id: "scrollnav"}
    = render "web/shared/category_unions_list"
  .span7
    %div{ data: { spy: "scroll", target: "#scrollnav"}}
      %h3= @category
      - @unions.each do |u|
        %hr
        %section{ id: u.id}
          %h4= u.name
          != u.description
          - if u.groups.any?
            %h4= t(".schedules")
            %ul.nav.nav-tabs.nav-stacked
              - u.groups.each do |g|
                %li= link_to g, union_group_path(u, g)
          - if u.instructors.any?
            %h4= t(".instructors")
            %ul.nav.nav-tabs.nav-stacked
              - u.instructors.each do |i|
                %li= link_to i, instructor_path(i)