.row
  .span3
    = render "web/shared/category_unions_list"
  .span7
    %h3= @category
    %h4= @union.name
    != @union.description
    - if @union.groups.any?
      %h4= t(".schedules")
      %ul.nav.nav-tabs.nav-stacked
        - @union.groups.each do |g|
          %li= link_to g, union_group_path(@union, g)
    - if @union.instructors.any?
      %h4= t(".instructors")
      %ul.nav.nav-tabs.nav-stacked
        - @union.instructors.each do |i|
          %li= link_to i, instructor_path(i)
  