= link_to t('.new'), new_admin_page_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :title
      %th= sort_link @q, :state
      %th
  %tbody
    - @pages.each do |item|
      %tr
        %td= item.id
        %td= item.title
        %td= item.human_state_name
        %td
          .pull-right.btn-group
            = link_to edit_admin_page_path(item.id), :class => 'btn btn-mini' do
              %i.icon-pencil
            = link_to admin_page_path(item.id), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger' do
              %i.icon-trash

= paginate @pages
