%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :name
      %th= sort_link @q, :photos_count
      %th= sort_link @q, :created_at
      %th
  %tbody
    - @photo_albums.each do |p|
      %tr
        %td= p.id
        %td= p.name
        %td= p.photos.size
        %td= l p.created_at, :format => :short
        %td
          %span
            %a{:href => edit_admin_photo_album_path(p.id), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => admin_photo_album_path(p.id), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove
  = link_to t('.new'), new_admin_photo_album_path, :class => 'btn'

= paginate @photo_albums