= simple_form_for @union, :url => url, :html => { :class => 'default_class' } do |f|
  = f.association :category
  = f.input :name
  = f.association :leader, collection: Instructor.asc_by_last_name
  = f.association :instructors, as: :select2_multi, collection: Instructor.asc_by_last_name, include_blank: false
  = f.input :description, :as => :ckeditor, :input_html => {:height => 400 }
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_unions_path, :class => 'btn'
