!!! 5
%html(lang="ru")
  = render 'layouts/web/admin/shared/head'
  %body
    - if user_signed_in?
      = render 'layouts/web/admin/shared/navbar'
    .container
      .row
        %div{class: "span#{content_for?(:sidebar) ? 9 : 12}"}
        .span12
          = render 'layouts/web/admin/shared/title'
          = bootstrap_flash
          = yield
        - if content_for? :sidebar
          .span3
            = yield :sidebar

      -#= render 'layouts/web/admin/shared/footer'
