!!! 5
%html(lang="ru")
  = render 'layouts/web/admin/shared/head'
  %body
    = render 'layouts/web/admin/shared/navbar'
    .container
      .row
        .span9
          = bootstrap_flash
          = yield
        .span3
          -#.well.sidebar-nav
            %h3 Sidebar
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"

      -#= render 'layouts/web/admin/shared/footer'
